<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-slides pager autoplay="3000" loop="true">
            <!-- <ion-slide *ngFor="let x of [1,2,3,4]"><img src="../assets/images/{{x}}.jpg" /></ion-slide> -->
            <ion-slide>
                <img src="http://placehold.it/350x200" alt="" />
            </ion-slide>
            <ion-slide>
                <img src="http://placehold.it/350x200" alt="" />
            </ion-slide>
            <ion-slide>
                <img src="http://placehold.it/350x200" alt="" />
            </ion-slide>
            <ion-slide>
                <img src="http://placehold.it/350x200" alt="" />
            </ion-slide>
        </ion-slides>
    </ion-card>

    <ion-grid>
        <ion-row>
            <ion-slides>
                <ion-slide *ngFor="let x of products">
                    <ion-card no-padding>
                        <!-- <img src="{{product?.featured_src ?? 'path-to-default-img'}}" alt="" /> -->
                        <img [src]="product?.featured_src ?? 'path-to-default-img'" alt="" />
                        <h1>{{product?.title ?? ''}}</h1>
                        <p>{{</p>
                    </ion-card>
                </ion-slide>
            </ion-slides>
        </ion-row>
    </ion-grid>
</ion-content>
